.city-card {
  text-align: center;
  margin: 0;
  border-radius: 2%;
  border: 1px solid black;
  background-color: #005470;
  color: white;
  padding: 5%;
  height: 43vh;
  width: 25vw;
}

.city-card:hover {
  cursor: pointer;
  transform: scale(1.02);
  -webkit-box-shadow: 0px 0px 10px 0px #FFF;
  -moz-box-shadow: 0px 0px 10px 0px #FFF;
  box-shadow: 0px 0px 10px 0px #FFF;
}

.city-img {
  margin-top: 1px;
}

.delete-btn {
  display: flex;
  border: none;
  margin: 0;
  border-radius: 5%;
  height: 5vh;
  width: 3vw;
  background-color: #FFF;
  color: #005470;
  font-size: 2.5em;
  padding-left: 5px;
}

.delete-link {
  text-decoration: none;
}

.delete-btn:hover {
  cursor: pointer;
  color: #EC6E4B;
}

.city-name {
  font-size: 1.8em;
  letter-spacing: 5px;
}

.status {
  font-size: 1.3em;
  font-weight: lighter;
}

.today {
  font-size: 1.7em;
  font-weight: lighter;
}

.hi-lo {
  font-size: 2em;
}
