.todays-header {
  font-size: 2.2em;
  margin-top: .5em;
}

.todays-container {
  background-color: #005470;
  color: white;
  border: 5px solid #EC6E4B;
}

.sunrise-set,
.temps,
.humid-descrip {
  display: flex;
  justify-content: center;
}

.sunrise,
.sunset,
.curr-temp,
.feels-like-temp,
.humidity,
.descrip {
  padding: 2%;
}
